* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Roboto, sans-serif;
}
.header {
  width: 100%;
  display: flex;
  background-color: pink;
  box-shadow: 0px 2px 0px 10px #ccc;
}
/* leftheader side styling here */
.menu > ul {
  display: flex;

  /* margin: 20px 10px; */
}
.menu > ul > li {
  padding: 15px;
}
.menu > ul > li > a {
  color: rgb(243, 240, 241);
  font-size: 15px;
  font-weight: bold;
}
.Mylogo {
  margin: 15px 20px;
}
.leftheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  /* background-color: green; */
  margin-left: 2%;
}
/* right side styling here */
.rightheader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.rightheader form {
  width: 55%;
  display: flex;

  border-radius: 2px;
  align-items: center;

  background-color: rgb(190, 179, 179);
}
.rightheader form button {
  width: 10%;
  outline: none;
  background: transparent;
  border: none;
}
.rightheader form input {
  width: 70%;
  /* padding: 10px; */
  height: 33px;
  background-color: transparent;
  border: none;
  outline: none;
}
.profile {
  position: relative;
}
span > i {
  padding: 10px;
}
.rightheader .profile {
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 60px;
}
.menuicon {
  font-size: 20px;
}

/* media query */

/* maximum width media query */
@media only screen and (max-width: 480px) {
  .header {
    width: 900px;
    display: flex;
    background-color: rgb(10, 9, 9);

    color: white;
  }
  .rightheader > .Hidden {
    display: none;
  }
  .profile {
    display: none;
  }
  .menu > ul > li {
    display: none;
  }
}
